.container{
    .header{
        text-align: center;
        margin-top: 50px;
        background: #1F6C16;
        font-size: 2em;
        border-radius: 10px;
        color: white;
    }
    img{
        height: 50px;
        width: 50px;
        float: left;
    }
    td, th{
        text-align: center;
    }
    .info{
        -webkit-animation: fadein 1s;
    }
    .days, .alltime{
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}